<!DOCTYPE html>
<html>
<head>
  <title>FASHINOVA</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .navbar {
      background-color: #e69f9f;
      padding: 10px;
    }
    .content-container {
      background-color: #f9f9f9;
      text-align: center;
      padding: 20px;
      margin: 50px auto;
      max-width: 600px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">FASHINOVA</a>
      <div>
        <a class="navbar-brand" routerLink="login">LOGIN</a>
        <a class="navbar-brand" routerLink="signup">SIGN UP</a>
        <a class="navbar-brand" href="#">LOGOUT</a>
      </div>
    </div>
  </nav>

  <div class="content-container" >
    <h1>Welcome to FASHINOVA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <!-- Add more content as needed -->
  </div>
</body>
</html>
