<div class="row justify-content-center">
  <div class="col-8">
    <div class="card">
      <div class="card-header">Login here</div>

      <div class="card-body">
        <form #loginForm="ngForm"  (ngSubmit)="submitLogin()">
          <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>
          <div class="alert alert-success" [hidden]="!success">{{ success }}</div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input  type="email" class="form-control" id="email"  name="email" [(ngModel)]="form.email" required>
         <span  class="text-danger " *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email id is required</span>



            </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" required>
            <span class="text-danger " *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
